solution/DataFactory/pipeline/AZ-SQL-AZ-Storage-Parquet-AZ-IR.json
{
	"name": "AZ-SQL-AZ-Storage-Parquet-AZ-IR",
	"properties": {
		"activities": [
			{
				"name": "Switch Storage Type",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "AF Persist Metadata and Get Mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.TaskObject.Source.Type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "ADLS",
							"activities": [
								{
									"name": "Copy SQL to ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Pipeline AF Log - Azure SQL to ADLS Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": {
											"value": "@pipeline().parameters.TaskObject.DegreeOfCopyParallelism",
											"type": "Expression"
										},
										"translator": {
											"value": "@activity('AF Persist Metadata and Get Mapping').output.value",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTable_AZ_IR",
											"type": "DatasetReference",
											"parameters": {
												"Schema": {
													"value": "@pipeline().parameters.TaskObject.Source.Extraction.TableSchema",
													"type": "Expression"
												},
												"Table": {
													"value": "@pipeline().parameters.TaskObject.Source.Extraction.TableName",
													"type": "Expression"
												},
												"Server": {
													"value": "@pipeline().parameters.TaskObject.Source.Database.SystemName",
													"type": "Expression"
												},
												"Database": {
													"value": "@pipeline().parameters.TaskObject.Source.Database.Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLSParquet_AZ_IR",
											"type": "DatasetReference",
											"parameters": {
												"RelativePath": {
													"value": "@pipeline().parameters.TaskObject.Target.RelativePath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.TaskObject.Target.DataFileName",
													"type": "Expression"
												},
												"StorageAccountEndpoint": {
													"value": "@pipeline().parameters.TaskObject.Target.StorageAccountName",
													"type": "Expression"
												},
												"StorageAccountContainerName": {
													"value": "@pipeline().parameters.TaskObject.Target.StorageAccountContainer",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "AF Persist Parquet Metadata - ADLS",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "Get Parquet Metadata ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "TaskExecutionSchemaFile",
										"method": "POST",
										"body": {
											"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"StorageAccountName\":\"', string(pipeline().parameters.TaskObject.Target.StorageAccountName), '\",\"StorageAccountContainer\":\"', string(pipeline().parameters.TaskObject.Target.StorageAccountContainer), '\",\"RelativePath\":\"', string(pipeline().parameters.TaskObject.Target.RelativePath), '\",\"SchemaFileName\":\"', string(pipeline().parameters.TaskObject.Target.SchemaFileName), '\",\"SourceType\":\"', string(pipeline().parameters.TaskObject.Source.Type), '\",\"TargetType\":\"', string(pipeline().parameters.TaskObject.Target.Type), '\",\"Data\":',string(activity('Get Parquet Metadata ADLS').output),',\"MetadataType\":\"Parquet\"}'))",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureFunctionAdsGoFastDataLakeAccelFunApp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Get Parquet Metadata ADLS",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "Copy SQL to ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ADLSParquet_AZ_IR",
											"type": "DatasetReference",
											"parameters": {
												"RelativePath": {
													"value": "@pipeline().parameters.TaskObject.Target.RelativePath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.TaskObject.Target.DataFileName",
													"type": "Expression"
												},
												"StorageAccountEndpoint": {
													"value": "@pipeline().parameters.TaskObject.Target.StorageAccountName",
													"type": "Expression"
												},
												"StorageAccountContainerName": {
													"value": "@pipeline().parameters.TaskObject.Target.StorageAccountContainer",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"structure"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Pipeline AF Log - Azure SQL to ADLS Failed",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Copy SQL to ADLS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Function-Generic",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Body": {
												"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Azure SQL to ADLS\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', string(activity('Copy SQL to ADLS').error.message), '\",\"Status\":\"Failed\"}'))",
												"type": "Expression"
											},
											"FunctionName": "Log",
											"Method": "Post"
										}
									}
								},
								{
									"name": "Pipeline AF Log - Azure SQL to ADLS Start",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Function-Generic",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Body": {
												"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":3,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Azure SQL to ADLS\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"Status\":\"Started\"}'))",
												"type": "Expression"
											},
											"FunctionName": "Log",
											"Method": "Post"
										}
									}
								},
								{
									"name": "Pipeline AF Log - Azure SQL to ADLS Succeed",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "AF Persist Parquet Metadata - ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Function-Generic",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Body": {
												"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Azure SQL to ADLS\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"\",\"Status\":\"Complete\"}'))",
												"type": "Expression"
											},
											"FunctionName": "Log",
											"Method": "Post"
										}
									}
								}
							]
						},
						{
							"value": "Azure Blob",
							"activities": [
								{
									"name": "Copy SQL to Blob",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Pipeline AF Log - SQL to Blob Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": {
											"value": "@pipeline().parameters.TaskObject.DegreeOfCopyParallelism",
											"type": "Expression"
										},
										"translator": {
											"value": "@activity('AF Persist Metadata and Get Mapping').output.value",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTable_AZ_IR",
											"type": "DatasetReference",
											"parameters": {
												"Schema": {
													"value": "@pipeline().parameters.TaskObject.Source.Extraction.TableSchema",
													"type": "Expression"
												},
												"Table": {
													"value": "@pipeline().parameters.TaskObject.Source.Extraction.TableName",
													"type": "Expression"
												},
												"Server": {
													"value": "@pipeline().parameters.TaskObject.Source.Database.SystemName",
													"type": "Expression"
												},
												"Database": {
													"value": "@pipeline().parameters.TaskObject.Source.Database.Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BlobParquet_AZ_IR",
											"type": "DatasetReference",
											"parameters": {
												"RelativePath": {
													"value": "@pipeline().parameters.TaskObject.Target.RelativePath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.TaskObject.Target.DataFileName",
													"type": "Expression"
												},
												"StorageAccountEndpoint": {
													"value": "@pipeline().parameters.TaskObject.Target.StorageAccountName",
													"type": "Expression"
												},
												"StorageAccountContainerName": {
													"value": "@pipeline().parameters.TaskObject.Target.StorageAccountContainer",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Pipeline AF Log - SQL to Blob Start",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Function-Generic",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Body": {
												"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":3,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Azure SQL to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"Status\":\"Started\"}'))",
												"type": "Expression"
											},
											"FunctionName": "Log",
											"Method": "Put"
										}
									}
								},
								{
									"name": "AF Persist Parquet Metadata - Blob",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "Get Parquet Metadata Blob",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "TaskExecutionSchemaFile",
										"method": "POST",
										"body": {
											"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"StorageAccountName\":\"', string(pipeline().parameters.TaskObject.Target.StorageAccountName), '\",\"StorageAccountContainer\":\"', string(pipeline().parameters.TaskObject.Target.StorageAccountContainer), '\",\"RelativePath\":\"', string(pipeline().parameters.TaskObject.Target.RelativePath), '\",\"SchemaFileName\":\"', string(pipeline().parameters.TaskObject.Target.SchemaFileName), '\",\"SourceType\":\"', string(pipeline().parameters.TaskObject.Source.Type), '\",\"TargetType\":\"', string(pipeline().parameters.TaskObject.Target.Type), '\",\"Data\":',string(activity('Get Parquet Metadata Blob').output),',\"MetadataType\":\"Parquet\"}'))",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureFunctionAdsGoFastDataLakeAccelFunApp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Get Parquet Metadata Blob",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "Copy SQL to Blob",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BlobParquet_AZ_IR",
											"type": "DatasetReference",
											"parameters": {
												"RelativePath": {
													"value": "@pipeline().parameters.TaskObject.Target.RelativePath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.TaskObject.Target.DataFileName",
													"type": "Expression"
												},
												"StorageAccountEndpoint": {
													"value": "@pipeline().parameters.TaskObject.Target.StorageAccountName",
													"type": "Expression"
												},
												"StorageAccountContainerName": {
													"value": "@pipeline().parameters.TaskObject.Target.StorageAccountContainer",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"structure"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Pipeline AF Log - Azure SQL to Blob Failed",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Copy SQL to Blob",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Function-Generic",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Body": {
												"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Azure SQL to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', string(activity('Copy SQL to Blob').error.message), '\",\"Status\":\"Failed\"}'))",
												"type": "Expression"
											},
											"FunctionName": "Log",
											"Method": "Post"
										}
									}
								},
								{
									"name": "Pipeline AF Log - Azure SQL to Blob Succeed",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "AF Persist Parquet Metadata - Blob",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Function-Generic",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Body": {
												"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Azure SQL to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"\",\"Status\":\"Complete\"}'))",
												"type": "Expression"
											},
											"FunctionName": "Log",
											"Method": "Post"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "AF Log - Get Metadata Failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup Get SQL Metadata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AZ-Function-Generic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"Body": {
							"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Get Metadata\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', string(activity('Lookup Get SQL Metadata').error.message), '\",\"Status\":\"Failed\"}'))",
							"type": "Expression"
						},
						"FunctionName": "Log",
						"Method": "Post"
					}
				}
			},
			{
				"name": "AF Log - Get Metadata Start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AZ-Function-Generic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"Body": {
							"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":3,\"LogSource\":\"ADF\",\"ActivityType\":\"Get Metadata\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"Status\":\"Started\"}'))",
							"type": "Expression"
						},
						"FunctionName": "Log",
						"Method": "Post"
					}
				}
			},
			{
				"name": "AF Log - Get Metadata Succeed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AF Persist Metadata and Get Mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AZ-Function-Generic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"Body": {
							"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Get Metadata\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"\",\"Status\":\"Complete\"}'))",
							"type": "Expression"
						},
						"FunctionName": "Log",
						"Method": "Post"
					}
				}
			},
			{
				"name": "Lookup Get SQL Metadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "AF Get Information Schema SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@activity('AF Get Information Schema SQL').output.InformationSchemaSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_AZ_IR",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.TaskObject.Source.Extraction.TableSchema",
								"type": "Expression"
							},
							"Table": {
								"value": "@pipeline().parameters.TaskObject.Source.Extraction.TableName",
								"type": "Expression"
							},
							"Server": {
								"value": "@pipeline().parameters.TaskObject.Source.Database.SystemName",
								"type": "Expression"
							},
							"Database": {
								"value": "@pipeline().parameters.TaskObject.Source.Database.Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AF Get Information Schema SQL",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "AF Log - Get Metadata Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetInformationSchemaSQL",
					"method": "POST",
					"body": {
						"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"TableSchema\":\"', string(pipeline().parameters.TaskObject.Source.Extraction.TableSchema), '\",\"TableName\":\"', string(pipeline().parameters.TaskObject.Source.Extraction.TableName),'\"}'))",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunctionAdsGoFastDataLakeAccelFunApp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AF Persist Metadata and Get Mapping",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Lookup Get SQL Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "TaskExecutionSchemaFile",
					"method": "POST",
					"body": {
						"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"StorageAccountName\":\"', string(pipeline().parameters.TaskObject.Target.StorageAccountName), '\",\"StorageAccountContainer\":\"', string(pipeline().parameters.TaskObject.Target.StorageAccountContainer), '\",\"RelativePath\":\"', string(pipeline().parameters.TaskObject.Target.RelativePath), '\",\"SchemaFileName\":\"', string(pipeline().parameters.TaskObject.Target.SchemaFileName), '\",\"SourceType\":\"', string(pipeline().parameters.TaskObject.Source.Type), '\",\"TargetType\":\"', string(pipeline().parameters.TaskObject.Target.Type), '\",\"Data\":',string(activity('Lookup Get SQL Metadata').output),',\"MetadataType\":\"SQL\"}'))",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunctionAdsGoFastDataLakeAccelFunApp",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TaskObject": {
				"type": "object",
				"defaultValue": "[     {       \"TaskInstanceId\": 2,       \"TaskMasterId\": 1,       \"TaskStatus\": \"Untried\",       \"TaskType\": \"RelationalDataExtractToDataLake\",       \"Enabled\": true,       \"ExecutionUid\":  1,       \"Source\": {         \"Database\": {           \"Name\": \"AWSample\",                   \"SystemName\" : \"adsgofastdatakakeaccelsqlsvr.database.windows.net\",           \"Type\": \"AzureSQL\",           \"AuthenticationType\": \"MSI\",           \"UsernameKeyVaultSecretName\": \"\",           \"PasswordKeyVaultSecretName\": \"\"         },         \"Extraction\": {           \"Type\": \"Table\",           \"FullOrIncremental\": true,           \"IncrementalType\": null,                   \"TableSchema\" : \"SalesLT\",           \"TableName\": \"Customer\"         }       },       \"Target\": {         \"StorageAccountName\": \"https://adsgofastdatalakeaccelst.dfs.core.windows.net\",         \"StorageAccountContainer\": \"Container\",         \"StorageAccountContainerName\": \"datalakelanding\",         \"StorageAccountAccessMethod\": \"MSI\",         \"StorageAccountSASUriKeyVaultSecretName\": null,         \"RelativePath\": \"/Unprocessed/adsgofastdatakakeaccelsqlsvr/AWSample/SalesLT/2020/06/08/17/\",         \"DataFileName\": \"Customer_Data.parquet\",               \"SchemaFileName\": \"Customer_Schema.json\"       },       \"DataFactory\": {         \"Id\": 1,         \"Name\": \"adsgofastdatakakeacceladf\",         \"ResourceGroup\": \"AdsGoFastDataLakeAccel\",         \"SubscriptionId\": \"035a1364-f00d-48e2-b582-4fe125905ee3\",            }     }   ] "
			}
		},
		"folder": {
			"name": "ADS Go Fast/Data Movement/Auto Resolve IR"
		},
		"annotations": [],
		"lastPublishTime": "2020-07-24T02:37:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}