solution/DataFactory/pipeline/Master.json
{
	"name": "Master",
	"properties": {
		"activities": [
			{
				"name": "Switch Pipelines",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.TaskObject.DataFactory.ADFPipeline",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "AZ-SQL-AZ-Storage-Parquet-SH-IR",
							"activities": [
								{
									"name": "Execute AZ-SQL-AZ-Storage-Parquet-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-SQL-AZ-Storage-Parquet-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "AZ-Storage-Binary-AZ-Storage-Binary-SH-IR",
							"activities": [
								{
									"name": "Execute AZ-Storage-Binary-AZ-Storage-Binary-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Storage-Binary-AZ-Storage-Binary-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "AZ-Storage-CSV-AZ-SQL-SH-IR",
							"activities": [
								{
									"name": "Execute AZ-Storage-CSV-AZ-SQL-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Storage-CSV-AZ-SQL-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "AZ-Storage-Excel-AZ-SQL-SH-IR",
							"activities": [
								{
									"name": "Execute AZ-Storage-Excel-AZ-SQL-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Storage-Excel-AZ-SQL-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "AZ-Storage-JSON-AZ-SQL-SH-IR",
							"activities": [
								{
									"name": "Execute AZ-Storage-JSON-AZ-SQL-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Storage-JSON-AZ-SQL-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "AZ-Storage-Parquet-AZ-SQL-SH-IR",
							"activities": [
								{
									"name": "Execute AZ-Storage-Parquet-AZ-SQL-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Storage-Parquet-AZ-SQL-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "GN-File-Binary-AZ-Storage-Binary-SH-IR",
							"activities": [
								{
									"name": "Execute GEN-File-Binary-AZ-Storage-Binary-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "GEN-File-Binary-AZ-Storage-Binary-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "GEN-File-Binary-AZ-Storage-Binary-OnP-SH-IR",
							"activities": [
								{
									"name": "Execute GEN-File-Binary-AZ-Storage-Binary-OnP-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "GEN-File-Binary-AZ-Storage-Binary-OnP-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "OnP-SQL-AZ-Storage-Parquet-OnP-SH-IR",
							"activities": [
								{
									"name": "Execute OnP-SQL-AZ-Storage-Parquet-OnP-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "OnP-SQL-AZ-Storage-Parquet-OnP-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "OnP-SQL-GEN-File-Parquet-OnP-SH-IR",
							"activities": [
								{
									"name": "Execute OnP-SQL-GEN-File-Parquet-OnP-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "OnP-SQL-GEN-File-Parquet-OnP-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Create-Task-Master-AZ-SQL-SH-IR",
							"activities": [
								{
									"name": "Execute Create-Task-Master-AZ-SQL-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Create-Task-Master-AZ-SQL-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Create-Task-Master-AZ-SQL-OnP-SH-IR",
							"activities": [
								{
									"name": "Create-Task-Master-AZ-SQL-OnP-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Create-Task-Master-AZ-SQL-OnP-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "AZ-Storage-Excel-AZ-Storage-CSV-SH-IR",
							"activities": [
								{
									"name": "Execute AZ-Storage-Excel-AZ-Storage-CSV-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-Storage-Excel-AZ-Storage-CSV-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "AZ-SQL-StoredProcedure-SH-IR",
							"activities": [
								{
									"name": "Execute AZ-SQL-StoredProcedure-SH-IR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "AZ-SQL-StoredProcedure-SH-IR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TaskObject": {
												"value": "@pipeline().parameters.TaskObject",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Pipeline AF Log - Invalid Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AZ-Function-Generic",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"Body": {
										"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Data-Movement-Master\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"Invalid TaskType: ', string(pipeline().parameters.TaskObject.TaskType), '\",\"Status\":\"Failed\",\"NumberOfRetries\":\"', string(pipeline().parameters.TaskObject.NumberOfRetries),'\"}'))",
										"type": "Expression"
									},
									"FunctionName": "Log",
									"Method": "Post"
								}
							}
						}
					]
				}
			},
			{
				"name": "Pipeline AF Log - Failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch Pipelines",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AZ-Function-Generic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Body": {
							"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Data-Movement-Master\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', string(activity('Switch Pipelines').error.message), '\",\"Status\":\"Failed\",\"NumberOfRetries\":\"', string(pipeline().parameters.TaskObject.NumberOfRetries),'\"}'))",
							"type": "Expression"
						},
						"FunctionName": "Log",
						"Method": "Post"
					}
				}
			},
			{
				"name": "Pipeline AF Log - Succeed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch Pipelines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AZ-Function-Generic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Body": {
							"value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Data-Movement-Master\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"\",\"Status\":\"Complete\",\"NumberOfRetries\":\"', string(pipeline().parameters.TaskObject.NumberOfRetries),'\"}'))",
							"type": "Expression"
						},
						"FunctionName": "Log",
						"Method": "Post"
					}
				}
			}
		],
		"parameters": {
			"TaskObject": {
				"type": "object",
				"defaultValue": {
					"TaskInstanceId": 865,
					"TaskMasterId": 102,
					"TaskStatus": "Untried",
					"TaskType": "SQL Database to Azure Storage",
					"Enabled": 1,
					"ExecutionUid": "d954cfee-44c1-419f-83d5-51f75eaf809c",
					"NumberOfRetries": 0,
					"DegreeOfCopyParallelism": 1,
					"KeyVaultBaseUrl": "https://adsgofastkeyvault.vault.azure.net/",
					"ScheduleMasterId": 2,
					"TaskGroupConcurrency": 10,
					"TaskGroupPriority": 0,
					"Source": {
						"Type": "SQL Server",
						"Database": {
							"SystemName": "adsgofast-onpre",
							"Name": "AdventureWorks2017",
							"AuthenticationType": "SQLAuth",
							"Username": "sqladfir",
							"PasswordKeyVaultSecretName": "adsgofast-onpre-sqladfir-password"
						},
						"Extraction": {
							"Type": "Table",
							"FullOrIncremental": "Full",
							"IncrementalType": null,
							"TableSchema": "Sales",
							"TableName": "SalesOrderHeader"
						}
					},
					"Target": {
						"Type": "Azure Blob",
						"StorageAccountName": "https://adsgofastdatalakeaccelst.blob.core.windows.net",
						"StorageAccountContainer": "datalakeraw",
						"StorageAccountAccessMethod": "MSI",
						"RelativePath": "AdventureWorks2017/Sales/SalesOrderHeader/2020/7/23/9/0/",
						"DataFileName": "Sales.SalesOrderHeader.parquet",
						"SchemaFileName": "Sales.SalesOrderHeader.json",
						"FirstRowAsHeader": null,
						"SheetName": null,
						"SkipLineCount": null,
						"MaxConcorrentConnections": null
					},
					"DataFactory": {
						"Id": 1,
						"Name": "adsgofastdatakakeacceladf",
						"ResourceGroup": "AdsGoFastDataLakeAccel",
						"SubscriptionId": "035a1364-f00d-48e2-b582-4fe125905ee3",
						"ADFPipeline": "OnP-SQL-AZ-Storage-Parquet-OnP-SH-IR"
					}
				}
			}
		},
		"folder": {
			"name": "ADS Go Fast"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-06T06:27:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}